<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  
  </head>

  <body>
    <div class="topnav">
    <h3 align="center"> Home Page</h3>

<!-- technically a homepage -->

  <br />
  <!-- <button type="submit" class="btn btn-primary">Login</button> -->  
  <a href="create-reddit.html"><button>Create a Subreddit</button></a>
  <a href="join-reddit.html"><button>Join a Subreddit</button></a>
  <a href="create-reddit.html"><button>Delete a  Subreddit</button></a>


    <!-- <button type="button" class="btn btn-primary" id="create" >Create a Subreddit</button>
    <button type="button" class="btn btn-primary" id="join">Join a Subreddit</button> -->
</div>

  </body>
</html>