<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">  
  </head>

  <body>
    <form method="POST">
	    <h3 align="center">Leave a Subreddit</h3>
	     <div class="form-group">
		    <label for="username">Subreddit Name: </label>
		    <input
		     type="text"
		     class="form-control"
		     id="subreddit_name1"
		     name="subreddit_name1"
		     placeholder="Enter Subreddit Name: " />    
	    </div>
		<button type="submit" class="btn btn-primary">Save</button>
	</form>

		<a href="dashboard.html"><button> Back to Homepage </button></a>
</body>
</html>