<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/template.css') }}">
  </head>
  <body>
    <div class="loginbox">
      <h1>Login</h1>
      <form>
        <label>Username: </label>
        <input id = 'username-login' type="username" placeholder="Enter Username" />
        <label>Password: </label>
        <input id ='password' type="password" placeholder="Enter Password" />
        <input id = 'button-login' type="button" value="Login" />
      </form>
    </div>
    <p class="p1">
      Do Not have an account? <a href="signup.html">Sign Up</a>
    </p>
  </body>
</html>




